body{
    font-family: "Roboto", "Open Sans";
    background-color: #060D2F;
    color: yellow;
    font-size: 30px;
}

header{
    background-color: #060D2F;
}


.right-navbar, .left-navbar{
    list-style: none; 
    display: flex;   
}


.right-navbar a , .left-navbar a{
   padding: 10px;
}

a{
    text-decoration: none;
}

.main-navbar{
    display: flex;
    justify-content: space-around;
}